<div class='container' [ngStyle]="{'height': '100vh'}">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'pink'}">
                <mat-panel-title>
                    Hunter Adventures
                </mat-panel-title>
                <mat-panel-description>
                    C++ sidescroller game
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>eu programava e o ian ficava vendo memes aff</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Product management
                </mat-panel-title>
                <mat-panel-description>
                    CRUD with firebase
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>informações do projeto 2</p>
        </mat-expansion-panel>
    </mat-accordion>

</div>