<div [ngStyle]="{'background-color': 'dodgerblue', 'height' : '100vh', 'border-radius': '5px'}">
    <mat-tab-group [ngStyle]="{'border-radius': '5px'}">
        <mat-tab label="Graduation"><div [ngStyle]="{'background-color': 'aquamarine', 'height' : '100vh'}"></div></mat-tab>
        <mat-tab label="Languages"><div [ngStyle]="{'background-color': 'crimson', 'height' : '100vh'}"></div></mat-tab>
        <mat-tab label="Skills"><div [ngStyle]="{'background-color': 'aquamarine', 'height' : '100vh'}"></div></mat-tab>
    </mat-tab-group>
</div>